<h1>Edit Bargain for <%= @product.name %></h1>

<%= form_with(model: @product, url: product_bargain_path(@product), method: :patch) do |form| %>
  <div>
    <%= form.label :bargain_amount, "Enter your bargain amount" %>
    <%= form.number_field :bargain_amount, value: @product.bargain_amount %>
  </div>
  
  <%= form.submit "Update Bargain" %>
<% end %>

<%= link_to "Back to Product", product_path(@product) %>
