<div class="sign_up">
    <h1>Signup</h1>
<%= form_with url:"/signup" ,method:"post",local:true do |f|%>
<div>
    <%= f.label :name, "Name"%>
    <br>
    <%= f.text_field :name, placeholder:"Enter your name",required:true%>
</div>
<div>
    <%= f.label :email, "Email"%>
    <br>
    <%= f.text_field :email, placeholder:"Enter your email",required:true%>
</div>
<div>
    <%= f.label :password, "Password"%>
    <br>
    <%= f.text_field :password, placeholder:"Enter your password",required:true%>
</div>
<button><%=f.submit "SignUp"%></button>

<%end%>
<p>Already have an account</p>
<button><%= link_to "login",new_login_path %></button>

</div>

