
<div class="login">
    <h1>Login</h1>
<%= form_with url:"/login" ,method:"post" do |f|%>
<div>
    <%= f.label :email, "Email"%>
    <br>
    <%= f.text_field :email, placeholder:"Enter your email", required:true%>
</div>
<div>
    <%= f.label :password, "Password"%>
    <br>
    <%= f.text_field :password, placeholder:"Enter your password", required:true%>
</div>
<button><%=f.submit "login"%></button>

<%end%>
<p>Don't have an account</p>
<button><%= link_to "signup", new_signup_path %></button>

</div>

