<h1>Login</h1>
<%= form_with url:"/login" ,method:"post",local:true do |f|%>
<div>
    <%= f.label :email, "Email"%>
    <br>
    <%= f.text_field :email, placeholder:"Enter your email",required:true%>
</div>
<div>
    <%= f.label :password, "Password"%>
    <br>
    <%= f.text_field :password, placeholder:"Enter your password",required:true%>
</div>
<%=f.submit "login"%>
<%end%>
<p>Don't have an account</p>
<%= link_to "signup", new_signup_path %>