<h1>Product page</h1>

<%@products.each do |product|%>
<p><%= product.name%></p>
<p><%= product.description%></p>
<p><%= product.amount%></p>
 <% if @requests.any? { |request| request.product_id == product.id && request.user_id == current_user_id } %>
    <p>Status: Pending</p>
  <% else %>
    <%= link_to "Request", new_product_request_path(product.id) %>
  <% end %>

<%end%>
<br>

 <%= link_to "Logout", "logout",method: "get" %>
<%= link_to "My Products", my_product_products_path %>


