<h1>Product page</h1>

<%@products.each do |product|%>
<p><%= product.name%></p>
<p><%= product.description%></p>
<p><%= product.amount%></p>
<%= link_to "Bargain", edit_bargain_product_path(product) %>
<%end%>
<br>

 <%= link_to "Logout", "logout",method: "get" %>
<%= link_to "My Products", my_product_products_path %>


